@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin media-query($break-point) {
  @if $break-point == 'desktop' {
    @media (min-width: 1440px) {
      @content;
    }
  }
  @if $break-point == 'Tablet' {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  }
  @if $break-point == 'Smartphone' {
    @media (max-width: 767px) {
      @content;
    }
  }
}
