.error__page {
  @include flex-center-column;
  color: $color-primary;
  text-align: center;
  height: 100%;
  img {
    margin-top: 100px;
    margin-bottom: 50px;
    height: 260px;
    width: 600px;
    @include media-query(Smartphone) {
      font-size: 18px;
      height: 100px;
      width: 200px;
      margin-bottom: 10px;
    }
  }
  p {
    font-size: 36px;
    @include media-query(Smartphone) {
      font-size: 18px;
    }
  }
  .error__return {
    display: block;
    color: $color-primary;
    font-size: 18px;
    margin: 150px 0px;

    @include media-query(Smarphone) {
      font-size: 14px;
    }
  }
}
