.banner_home {
  @include flex-center;
  height: 225px;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));

  @include media-query(Smartphone) {
    height: 110px;
    border-radius: 10px;
  }
  img {
    position: absolute;
    object-fit: cover;
    filter: brightness(75%);
  }
  h2 {
    font-weight: 500;
    font-size: 48px;
    color: $contrast-white;
    position: relative;
    margin: 20px;
    @include media-query(Smartphone) {
      font-size: 24px;
    }
  }
}
