.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1300px;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px 50px 20px 50px;
  @include media-query(Smartphone) {
    padding: 20px 20px 20px 20px;
  }
  &__logo {
    display: flex;
    align-items: center;
    @include media-query(Smartphone) {
      width: 145px;
    }
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color-primary;
    font-size: 24px;
    text-align: right;
    &:hover {
      text-decoration: underline;
    }
    @include media-query(Smartphone) {
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}
